{% extends 'base.html.twig' %}

{% block title %}
	Shop
{% endblock %}

{% block body_classes %}
	class="single-product full-width"
{% endblock %}

{% block body %}
	<header class="page-header m-t-3">
		<h1 class="page-title">{{query}}</h1>
	</header>


	<div class="tab-content">

		<div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">

			<div class="row justify-content-md-center">
				{% for product in products %}
					<div class="col-6 p-a-1 col-lg-3">
						<div class="ui card">
							<div class="image x">
								<a href="{{ path('products_show', {'id': product.id} ) }}">
									<img class="pa-3" src="{{product.image}}">
								</a>
							</div>
							<div class="content">
								<div class="header">{{product.name}}</div>
								<div class="meta">
									<a>{{product.getCategory.name}}</a>
								</div>

							</div>
							<div class="extra content">

								<span class=" float-left">
									<a class="btn btn-primary text--white btn-to" href="{{ product.curl }}?ref=elfinder.tn" target="_blanc">Vers le site marchand  ({{product.price}}
										DT)</a>
								</span>

							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>

	</div>

{% endblock %}
