{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}
{% endblock %}

{% block body_classes %}
	class="single-product full-width"
{% endblock %}

{% block body %}

	<div id="primary" class="content-area">
		<main id="main" class="site-main">

			<div class="product">

				<div class="single-product-wrapper">
					<div class="product-images-wrapper">
						<span class="onsale">Sale!</span>

						<div class="images electro-gallery">
							<div class="thumbnails-single owl-carousel">
								{% for image in product.images %}
									<a class="zoom" title="" data-rel="prettyPhoto[product-gallery]">
										<img src="assets/images/blank.gif" data-echo="{{image}}" class="wp-post-image" alt="">
									</a>
								{% endfor %}
							</div>
							<!-- .thumbnails-single -->

							<div class="thumbnails-all columns-5 owl-carousel">
								{% for image in product.images %}
									<a href="{{image}}" class="first" title="">
                                    <img src="assets/images/blank.gif" data-echo="{{image}}"
                                     class="wp-post-image" alt=""></a>
								{% endfor %}

							</div>
							<!-- .thumbnails-all -->
						</div>
						<!-- .electro-gallery -->

					</div>
					<!-- /.product-images-wrapper -->

					<div class="summary entry-summary">

						<span class="loop-product-categories">
							<a href="product-category.html" rel="tag">MyTek</a>
						</span>
						<!-- /.loop-product-categories -->

						<h1 itemprop="name" class="product_title entry-title">{{ product.name }}</h1>

						<div class="brand">
							<a href="product-category.html">
								<img src="https://web-assets-mk.s3.amazonaws.com/img/mytek-informatique-logo-1482243620.jpg" alt="MyTek"/>
							</a>
						</div>
						<!-- .brand -->

						<div class="availability in-stock">Availablity:
							<span>In stock</span>
						</div>
						<!-- .availability -->

						<hr class="single-product-title-divider"/>

						<div class="action-buttons">

							<a href="#" class="add_to_wishlist">
								Wishlist
							</a>


							<a href="#" class="add-to-compare-link" data-product_id="2452">Compare</a>
						</div>
						<!-- .action-buttons -->

						<div itemprop="description">
							{{ product.short_description | raw }}
						</div>
						<!-- .description -->

						<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

							<p class="price">
								<span class="electro-price">
									<ins>
										<span class="amount"></span>
									</ins>

								</span>
							</p>


						</div>
						<!-- /itemprop -->

						<form class="variations_form cart" method="post">


							<div class="single_variation_wrap">
								<div class="woocommerce-variation single_variation"></div>
								<div class="woocommerce-variation-add-to-cart variations_button">
								
                                    
                                     
									<a type="submit" rel="nofollow" class="single_add_to_cart_button button" href="{{ product.curl }}" target="_blanc">Vers le site marchand</a>
									<input type="hidden" name="add-to-cart" value="2452"/>
									<input type="hidden" name="product_id" value="2452"/>
									<input type="hidden" name="variation_id" class="variation_id" value="0"/>
								</div>
							</div>
						</form>

					</div>
					<!-- .summary -->
				</div>
				<!-- /.single-product-wrapper -->

			</div>
			<!-- /.product -->

		</main>
		<!-- /.site-main -->
	</div>
	<!-- /.content-area -->


{% endblock %}
